@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{
   background-color: #c6c2ff;
}
div{
    background-image: url(./bilder/leonid-portnoy-hz12a2EQ3U8-unsplash\ \(2\).jpg);
    width:356px;
    height:240px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:140px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-top: 5px;
    border-radius:2px ;
    box-shadow:2px 2px 2px #000;
}
h1{
    font-family: "Sofadi One", system-ui;
    color:#8c08ff;
    font: size 40px;
    
}
h2{
    font-family: "Sofadi One", system-ui;
    color:#aa00ed;
    font-size:30px ;
    padding-top:10px;
}
p{
    font-family: "Sofadi One", system-ui;
    color:#aa00ed;
    font-size:30px;
}